<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="Header">

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="offcanvas__close">+</div>
        <ul class="offcanvas__widget">
            <li><span class="icon_search search-switch"></span></li>
            <li><a href="#"><span class="icon_heart_alt"></span>
                <div class="tip">2</div>
            </a></li>
            <li><a href="#"><span class="icon_bag_alt"></span>
                <div class="tip">2</div>
            </a></li>
        </ul>
        <div class="offcanvas__logo">
            <a href="./index.html"><img th:src="@{/img/logo.png}" alt=""></a>
        </div>
        <div id="mobile-menu-wrap"></div>

        <div class="offcanvas__auth">
            <a th:href="@{/login}">Login</a>
            <a th:href="@{/register}">Register</a>

        </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img th:src="@{/img/logo.png}" alt="" style="width: 98px; height: 31px"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html" th:text=" 'Hometxs' ">Home</a></li>
                            <li><a href="../../../../../ashion-master_template/ashion-master/shop.html">Shop</a></li>
                            <li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="../../../../../ashion-master_template/ashion-master/product-details.html">Product Details</a></li>
                                    <li><a href="../../../../../ashion-master_template/ashion-master/shop-cart.html">Shop Cart</a></li>
                                    <li><a href="../../../../../ashion-master_template/ashion-master/checkout.html">Checkout</a></li>
                                    <li><a href="../../../../../ashion-master_template/ashion-master/blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="../../../../../ashion-master_template/ashion-master/blog.html">Blog</a></li>
                            <li><a href="../../../../../ashion-master_template/ashion-master/contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <th:block th:unless="${session.username != null}">
                                <a th:href="@{/login}">Login</a>
                                <a th:href="@{/register}">Register</a>
                            </th:block>
                           <th:block th:if="${session.username != null }">
                               <div class="btn_mes">
                                   <button class="btn btn_me"><i class="fa-solid fa-user pl-2 ml-2" > <span th:text=" 'Hi , ' +${session.username}"></span></i></button>
                                   <ul class="dropdown dropdown_me">
                                       <li><a onclick="document.getElementById('id01').style.display='block' "> Edit Profile </a></li>
                                       <li><a th:href="@{/change_pass}">Change Pass </a></li>
                                       <th:block th:if="${session.role == true}">
                                           <li><a th:href="@{home/admin}">Admin</a></li>
                                       </th:block>
                                       <li><a th:href="@{/log_out}">Log Out </a></li>
                                   </ul>
                               </div>
                           </th:block>
                        </div>
                        <ul class="header__right__widget">
                            <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>

        <!--Modal-->

        <div id="id01" class="modal_modal">
            <span onclick="document.getElementById('id01').style.display='none'" class="close_modal" title="Close Modal">&times;</span>
            <form class="modal-content_modal" action="/action_page.php">
                <div class="container_modal">
                    <h1>EDIT PROFILE</h1>

                    <div class="clearfix_modal">
                        <button type="button" class="cancelbtn button_modal">Cancel</button>
                        <button type="button" class="deletebtn button_modal">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </header>
    <!-- Header Section End -->
</th:block>
</html>
