<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="link_head">
        <meta charset="UTF-8">
        <meta name="description" content="Ashion Template">
        <meta name="keywords" content="Ashion, unica, creative, html">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ashion | Template</title>
        <link rel="icon" type="image/png" th:href="@{/img/store.ico}" />

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
              rel="stylesheet">

        <!-- Css Styles -->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/elegant-icons.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/magnific-popup.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/slicknav.min.css}" type="text/css">
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">

    </th:block>
</html>