<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/views/Component/Header/Link_Header.html :: link_head}"></th:block>
</head>

<body>
<th:block th:include="~{/views/Component/Header/Header_ :: Header}"></th:block>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <span>Shopping cart</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Shop Cart Section Begin -->
    <section class="shop-cart spad_me">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shop__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="item : ${list_cart.getItems()}">
                                    <td class="cart__product__item">
                                        <img src="img/shop-cart/cp-1.jpg" alt="">
                                        <div class="cart__product__item__title">
                                            <h6 th:text="${item.name}">Chain bucket bag</h6>
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price" th:text="${#numbers.formatCurrency(item.price)}+'VNĐ'">$ 150.0</td>
                                    <td class="cart__quantity">
                                        <div class="pro-qty">
<!--                                            <span class="dec qtybtn">-</span>-->
                                            <input type="text" th:value="${item.qty}" >
                                            <input type="hidden" name="" id="" th:value="${item.id}">
<!--                                            <span class="inc qtybtn">+</span>-->
                                        </div>
                                    </td>
                                    <td class="cart__total" th:text="${#numbers.formatCurrency(item.total)} ">$ 300.0</td>
<!--                                    "-->
                                    <td class="cart__close"><a th:href="@{/home/cart/remove(id=${item.id})}" ><span class="icon_close"></span></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn">
                        <a th:href="@{/home/shop}">Continue Shopping</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="cart__btn update__btn">
                        <a href="#"><span class="icon_loading"></span> Update cart</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="discount__content">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn_me">Apply</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-2">
                    <div class="cart__total__procced">
                        <h6>Cart total</h6>
                        <ul>
                            <li>Subtotal <span>$ 750.0</span></li>
                            <li>Total <span th:text="${#numbers.formatCurrency(list_cart.totalPrice())}"> $ 750.0</span></li>
                        </ul>
                        <a th:href="@{/home/cart/checkout}" class="primary-btn_me">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Cart Section End -->
    <!-- Footer Section Begin -->

<!-- Search End -->
<th:block th:include="~{views/Component/Footer/Footer.html :: Footer}"></th:block>
<th:block th:include="~{views/Component/Footer/Link_JS.html :: Link_JS}"></th:block>
<script th:inline="javascript">
    var infor = [[${infor}]]
    if(infor){
        Swal.fire({
            icon:"infor",
            title:"Thông Báo",
            text:infor,
        }).then(function (){
            window.location.href="/login"
        })
    }
</script>
<script th:inline="javascript">
    var proQty = $('.pro-qty');
    proQty.prepend('<span class="dec qtybtn">-</span>');
    proQty.append('<span class="inc qtybtn">+</span>');
    proQty.on('click', '.qtybtn', function () {
        var $button = $(this);
        var oldValue = $button.parent().find('input').val();
        var id = $button.parent().find('input[type="hidden"]').val();
        // id = id.split("_")
        // var parseNumber = parseInt(id[1],10);
        if ($button.hasClass('inc')) {
            // var id = $('#itemid').val()
            var newVal = parseFloat(oldValue) + 1;
            $button.parent().find('input').val(newVal);
            window.location.href="/home/cart/add?id="+id ;
        } else {
            // Don't allow decrementing below zero
            if (oldValue > 0) {
                var newVal = parseFloat(oldValue) - 1;
            } else {
                newVal = 0;
            }
            window.location.href="/home/cart/sub?id="+id ;
            $button.parent().find('input').val(newVal);
        }
    });
</script>
</body>

</html>