<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="Link_JS">
        <!-- Js Plugins -->
        <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <script th:src="@{/js/mixitup.min.js}"></script>
        <script th:src="@{/js/jquery.countdown.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/jquery.nicescroll.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>

        <!--   modal edit profile     -->
        <script>
            // Get the modal
            var modal = document.getElementById('id01');
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </th:block>
</html>
