<!DOCTYPE html>
<html lang="zxx"  xmlns:th="http://www.thymeleaf.org">

<head>
   <th:block th:include="~{/views/Component/Header/Link_Header.html :: link_head}"></th:block>
</head>

<body>
<th:block th:include="~{/views/Component/Header/Header_ :: Header}"></th:block>
    <!-- Categories Section Begin -->
<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div  th:attr="data-setbg=@{http://localhost:3306/img/categories/category-1.jpg}"
                        class="categories__item categories__large__item set-bg_me">
                    <div class="categories__text">
                        <h1 style="font-size: 70px; ">Women’s fashion</h1>
                        <p>Sitamet, consectetur adipiscing elit, sed do eiusmod tempor incidid-unt labore
                            edolore magna aliquapendisse ultrices gravida.</p>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg_me" th:attr="data-setbg=@{http://localhost:3306/img/categories/category-2.jpg}">
                            <div class="categories__text">
                                <h4>Men’s fashion</h4>
                                <p>358 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg_me" th:attr="data-setbg=@{http://localhost:3306/img/categories/category-3.jpg}">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                                <p>273 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg_me" th:attr="data-setbg=@{http://localhost:3306/img/categories/category-4.jpg}">
                            <div class="categories__text">
                                <h4>Cosmetics</h4>
                                <p>159 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg_me" th:attr="data-setbg=@{http://localhost:3306/img/categories/category-5.jpg}">
                            <div class="categories__text">
                                <h4>Accessories</h4>
                                <p>792 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad_me">
    <div class="container ">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title_me">
                    <h4>Sale Product</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">Women’s</li>
                    <li data-filter=".men">Men’s</li>
                    <li data-filter=".kid">Kid’s</li>
                    <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li>
                </ul>
            </div>
        </div>
                <div class="row property__gallery" >
                    <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic"th:each="product : ${productList}">
                        <div class="product__item sale">
                            <div class="product__item__pic set-bg_me" th:attr="data-setbg=@{http://localhost:3306/uploads/ProductImage/__${product.image}__}">
                                <div class="label sale">Sale</div>
                                <ul class="product__hover">
                                    <li><a th:href="@{/uploads/ProductImage/__${product.image}__}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li><a th:href="@{/home/cart/add(id=${product.id})}"><span class="icon_bag_alt"></span></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a th:href="@{/home/product/id={id}(id=${product.id})}" th:text="${product.name}"></a></h6>

                                <div class="rating_me">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price_me">$[[${#numbers.formatCurrency(product.price)}]]VND </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class="col-lg-12 text-center">
            <div class="pagination__option">
            <th:block th:unless="${currentPage == 0}">
                <a class="page-link" tabindex="-1" aria-disabled="true" th:href="@{/home?page=__${currentPage - 1}__}" th:name="page"><i class="fa-solid fa-chevron-left"></i></a>
            </th:block>
                <th:block th:each="pageNum : ${#numbers.sequence(1, totalPages)}" >
                        <a class="page-link "  th:classappend=" ${pageNum }==${currentPage + 1} ? 'active' : 'none' " th:href="@{/home?page=__${pageNum - 1}__}" th:text="${pageNum}" ></a>
                </th:block>
                <th:block  th:unless="${currentPage + 1 >= totalPages}">
                    <a class="page-link"s th:href="@{/home?page=__${currentPage + 1}__}"  th:name="page"><i class="fa-solid fa-chevron-right"></i></a>
                </th:block>
            </div>
        </div>
<th:block>
</th:block>
<!--        <nav aria-label="..." th:if="${currentPage != null}">-->
<!--            <ul class="pagination">-->
<!--                    <li class="page-item " th:unless="${currentPage == 0}">-->
<!--                        <a class="page-link" tabindex="-1" aria-disabled="true" th:href="@{/home?page=0}"  th:name="page" >First</a>-->
<!--                    </li>-->
<!--                    <li class="page-item "  th:unless="${currentPage == 0}">-->
<!--                        <a class="page-link" tabindex="-1" aria-disabled="true" th:href="@{/home?page=__${currentPage - 1}__}" th:name="page">Previous</a>-->
<!--                    </li>-->
<!--                <th:block th:each="pageNum : ${#numbers.sequence(1, totalPages)}" >-->
<!--                    <li  th:classappend=" ${pageNum }==${currentPage + 1} ? 'active' : 'none' "  class="page-item"><a class="page-link" th:href="@{/home?page=__${pageNum - 1}__}" th:text="${pageNum}" ></a></li>-->
<!--                </th:block>-->
<!--                    <li class="page-item" th:unless="${currentPage + 1 >= totalPages}">-->
<!--                        <a class="page-link"  th:href="@{/home?page=__${currentPage + 1}__}"  th:name="page">Next</a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:unless="${currentPage + 1 >= totalPages}">-->
<!--                        <a class="page-link" th:href="@{/home?page=__${totalPages - 1}__}"  th:name="page">Last</a>-->
<!--                    </li>-->
<!--            </ul>-->
<!--        </nav>-->
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner_me set-bg_me" th:attr="data-setbg=@{http://localhost:3306/img/banner/banner-1.jpg}">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider_me owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text_me">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text_me">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text_me">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section class="trend_me spad_me">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title_me">
                        <h4>Hot Trend</h4>
                    </div>
                    <div class="trend__item_me" th:each="discount : ${discountProduct}">
                        <div class="trend__item__pic_me" >
                            <img th:src="@{/uploads/ProductImage/__${discount.product.image}__}" style="width: 90px; height: 90px" alt="">
                        </div>
                        <div class="trend__item__text_me">
                            <a th:href="@{/home/product/id={id}(id=${discount.product.id})}"><h6 th:text="${discount.product.name}"></h6></a>
                            <div class="rating_me">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price_me">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title_me">
                        <h4>Best seller</h4>
                    </div>
                    <div class="trend__item_me">
                        <div class="trend__item__pic_me">
                            <img th:src="@{/img/trend/bs-1.jpg}" alt="">
                        </div>
                        <div class="trend__item__text_me">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating_me">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price_me">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item_me">
                        <div class="trend__item__pic_me">
                            <img th:src="@{/img/trend/bs-2.jpg}" alt="">
                        </div>
                        <div class="trend__item__text_me">
                            <h6>Zip-pockets pebbled tote <br />briefcase</h6>
                            <div class="rating_me">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price_me">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item_me">
                        <div class="trend__item__pic_me">
                            <img th:src="@{/img/trend/bs-3.jpg}" alt="">
                        </div>
                        <div class="trend__item__text_me">
                            <h6>Round leather bag</h6>
                            <div class="rating_me">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price_me">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title_me">
                        <h4>Feature</h4>
                    </div>
                    <div class="trend__item_me">
                        <div class="trend__item__pic_me">
                            <img th:src="@{/img/trend/f-1.jpg}" alt="">
                        </div>
                        <div class="trend__item__text_me">
                            <h6>Bow wrap skirt</h6>
                            <div class="rating_me">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price_me">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item_me">
                        <div class="trend__item__pic_me">
                            <img th:src="@{/img/trend/f-2.jpg}" alt="">
                        </div>
                        <div class="trend__item__text_me">
                            <h6>Metallic earrings</h6>
                            <div class="rating_me">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price_me">$ 59.0</div>
                        </div>
                    </div>
                    <div class="trend__item_me">
                        <div class="trend__item__pic_me">
                            <img th:src="@{/img/trend/f-3.jpg}" alt="">
                        </div>
                        <div class="trend__item__text_me">
                            <h6>Flap cross-body bag</h6>
                            <div class="rating_me">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price_me">$ 59.0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic_me">
                    <img th:src="@{/img/discount.jpg}" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text_me">
                    <div class="discount__text__title_me">
                        <span>Discount</span>
                        <h2>Summer 2019</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <div class="discount__countdown_me" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div>
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services_me spad_me">
    <div class="container ">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa-solid fa-money-check-dollar" style="color: #e11417;"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa-solid fa-phone" style="color: #d53030;"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->
<script th:inline="javascript">
    var success = [[${success}]]
    var error = [[${error}]]
    sweet_Alert(success,error,null)
</script>
<!-- Search End -->
    <th:block th:include="~{views/Component/Footer/Footer.html :: Footer}"></th:block>
    <th:block th:include="~{views/Component/Footer/Link_JS.html :: Link_JS}"></th:block>
</body>

</html>